<head>
    <meta name="keywords" content="schneider, electric, energy, management, automation, Schneider Electric">
    <meta name="description" content="As a global specialist in energy management and automation with operations in more than 100 countries, we offer integrated energy solutions across multiple market segments">
    <link rel="canonical" href="http://www.schneider-electric.us/en/">
    <title>Global Specialist in Energy Management and Automation | Schneider Electric</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- BEGIN @Work CSS/JS Head References -->
    <link rel="stylesheet" href="./resources/css/css-common-242e628a.css">

    <link rel="stylesheet" href="./resources/css/production.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="./resources/css/portalfwk.min.css"> -->

    <!--[if gt IE 9 | !IE ]><!-->
    <link rel="stylesheet" href="./resources/css/css-common-mobile-1d485281.css" media="(max-width: 61.25em)">
    <!--<![endif]-->
<!--[if lte IE 9]>
<link rel="stylesheet" href="./resources/css/wm-framework-ie.css" />
<![endif]-->
<!-- The order of these Javascript files and fragments must be maintained -->
<script type="text/javascript" src="./resources/js/js-common-head-a5b33acb.js"></script>
<script type="text/javascript" src="./resources/js/js-common-api-95f25e87.js"></script>
<script type="text/javascript" src="./resources/js/js-common-plus-guided-v2-se-a6ba692e.js"></script>


<link rel="stylesheet" href="./resources/css//smartbanner.min.css">
<script type="text/javascript" src="./resources/js/smartbanner.min.js"></script>

<script>
var MESSAGE_FIELD_MANDATORY = "Please fill in this field.";
var TOOLTIP_IMAGE = "";
</script>
</head>
<div id="page" style="position: static;">

    <!-- Output From Header Version 2 -->
    <div id="header-container-v1" style="top: 0px; width: 100%; z-index: 9000; position: fixed;">
        <div class="header-container" style="top: 0px; position: fixed;">
            <div id="header-top-v1" style="margin-bottom: 0px;">
                <div class="header-top">
                    <div>
                        <ul>
                            <li><a href=""><i class="fa fa-caret-down"></i><i class="fa fa-gift"></i> <span>47,830 Points</span></a></li>
                            <li><a href=""><i class="fa fa-caret-down"></i><i class="fa fa-bell"></i> <span>2 Notifications</span></a></li>
                            <li><a href=""><i class="fa fa-caret-down"></i><i class="fa fa-user"></i> <span>John Kennedy</span></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end header-top-v1 -->
            <div id="header-content-v1" >
                <div class="header-content">
                    <ul class="main-menu">
                     <li class="logo-contain"><a class="logo-header" href="//www.schneider-electric.us/en/" title="" statmark="true" statname="Menu::[main]::[parent]::#"><img src="./resources/img/se-lio-reverse.svg" alt="Home"></a></li>
                     <li class="nav">
                         <ul class="tier-one">
                            <li class="nav-cols active">
                                <a >My Partnership</a>
                            </li>
                            <li class="nav-cols">
                                <a >My Programs</a>
                            </li>
                            <li class="nav-cols">
                                <a >Training</a>
                            </li>
                            <li class="nav-cols">
                                <a >News</a>
                            </li>
                            <li class="nav-cols">
                                <a >Products</a>
                            </li>
                            <li class="nav-cols">
                                <a >Support</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-search">
                        <form action="">
                            <input type="search" class="hidden-xs hidden-sm">
                            <input type="submit">
                            <i class="fa fa-search" id="searchTrigger"></i>
                        </form>
                    </li>

                </ul>
            </div>
        </div><!-- end header-content-v1 -->
    </div><!-- end header-container -->
</div><!-- end header-container-v1 -->
<!-- mobile menu html from CP --><!-- <div id="menu-mobile" /> -->
<!-- seindexable begin -->
<div id="wrap-content-v1" class="wrap-content" style="margin-top: 4px;">

    <section id="slider-new-v1" class="slider-new">
        <ul class="slides" style="width: 400%; margin-left: -300%;">
            <li class="image-banner dispatch-banner" style="width: 25%;">
                <img src="./resources/img/Layer-161.jpg" alt="Default Alternative Text" data-adaptive="true">
                <div class="vertical-align">
                    <div class="content">
                        <h1>Welcome John Kennedy</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem pariatur optio, voluptate in, saepe dolore hic dicta ab voluptas iure deleniti quos, debitis. Maiores, quis.</p>
                        <a href="" class="cta">Lorem ipsum dolor.</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="pagination"><li class=""></li><li class=""></li><li class=""></li><li class="current"></li></ul>
        <div class="left-button active"></div>
        <div class="right-button"></div>
    </section>
    <div class="container-fluid main">
        <nav id="trail" class="row" style="top: 119px; transition: none;">
            <ul>
                <li>
                    <a>My Partnership</a>
                </li>
            </ul>
        </nav>
        
        <div class="row section_1 section">

            <div class="col-xs-12 subsection_" >
                <div class="comp_">
                    <div>

                        <div class="nav-collapse menubar subMenu row">
                            <ul aria-labelledby="dLabel" class="nav " id="leftsidebar" role="menu" style="padding-right: 290px;">
                                <li class="active"><a href="">Electrical Contractor</a></li>
                                <li><a href="">Panel Builder</a></li>
                                <li><a href="">Systems Integrator</a></li>
                                <li class="  aAQ12000000PG1YGAW Edit blueMenu"><a href="/partners/Menu/profile#butypewidget?idMenu=aAQ12000000PG1YGAW" class="cta">Update my Business Type</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menubar Section -->

        <div class="row section_2 section">
            <div class="">
                <div class="row panels nopadding">
                    <div class="flex-parent">
                        <div class="col-xs-12 col-sm-6 col-md-3 panel-light-blue">
                            <div class="panel ">
                                <h4 class="panel-title">Projects</h4>
                                <a href="" class="cta cta-white">Create New Project</a>
                                <ul class="styled-list">
                                    <li><a href="">Installation <span>5 <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="">Meeting Request <span>5 <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="">Call Back <span>5 <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 panel-light-blue">
                            <div class="panel ">
                                <h4 class="panel-title">Tasks <a href=""><i class="fa fa-angle-right"></i></a></h4>
                                <div class="flexslider task-list">
                                    <div class="slides">
                                        <li>
                                            <ul>
                                                <li>
                                                    <h5>Project 001</h5>
                                                    <p class="date">Created: 11/01/2016</p>
                                                    <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr labore et dolore magna aliquyam erat eirmod no...</p>
                                                </li>
                                                <li>
                                                    <h5>Project 002</h5>
                                                    <p class="date">Created: 11/01/2016</p>
                                                    <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr labore et dolore magna aliquyam erat eirmod no...</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>
                                                    <h5>Project 003</h5>
                                                    <p class="date">Created: 11/01/2016</p>
                                                    <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr labore et dolore magna aliquyam erat eirmod no...</p>
                                                </li>
                                                <li>
                                                    <h5>Project 004</h5>
                                                    <p class="date">Created: 11/01/2016</p>
                                                    <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr labore et dolore magna aliquyam erat eirmod no...</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>
                                                    <h5>Project 005</h5>
                                                    <p class="date">Created: 11/01/2016</p>
                                                    <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr labore et dolore magna aliquyam erat eirmod no...</p>
                                                </li>
                                                <li>
                                                    <h5>Project 006</h5>
                                                    <p class="date">Created: 11/01/2016</p>
                                                    <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr labore et dolore magna aliquyam erat eirmod no...</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 panel-dark-green">
                            <div class="panel ">
                                <h4 class="panel-title">Training</h4>
                                <a href="" class="cta">3 Recommended</a>
                                <ul class="styled-list">
                                    <li><a href="">Certificates <span>5 <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="">Upcoming <span>5 <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="">In Progress <span>5 <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 panel-dark-green">
                            <div class="panel cf">
                                <h4 class="panel-title">Rewards</h4>
                                <h3 class="points">47,300 Points</h3>
                                <ul class="styled-list">
                                    <li><a href="">Upload Invoice <span><i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="">Redeem Points <span><i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="">My Activity <span><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Section -->

        <div class="row section_2 section">
            <div class="">
                <div class="row nopadding">
                    <div class="col-xs-12 col-md-6">
                        <div class="content cf">
                            <h1>Tap into full Schneider Electric Support!</h1>
                            <p>Complete your profile today to gain access to:</p>
                            <div class="row">

                                <div class="col-xs-8 col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-8">
                                            <ul>
                                                <li class="">Recommended programs</li>
                                                <li class="">Daily Management Features</li>
                                                <li class="">Digital Tools</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <ul>
                                                <li class="">News</li>
                                                <li class="">And more!</li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3 ">
                                    <img src="./resources/img/lock.png" style="width:100%;" alt="" class="">

                                </div>

                            </div>

                            <a href="" class="cta">Complete Your Profile</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="panels">
                            <div class="col-xs-12 col-sm-6 panel-dark-green">
                                <div class="panel cf">
                                    <h4 class="panel-title">Win a Brand New Ford<sup>®</sup> F-150 XLT</h4>
                                    <p>If you’re an Electrical Contracting Firm You Could Drive off with a FORD F-150 Truck.  Simply purchase a qulaifying QO or Homeline Plug-on Neutral Load Center or Combination Service Enterance Device.</p>
                                    <a href="">> Learn More</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 panel-bright-green">
                                <div class="panel cf">
                                    <h4 class="panel-title"><span>Save Time and Space</span>I-Line Solutions</h4>
                                    <p>Square D I-Line Panelboards, Switchboards, and Busway offer proven flexibility, long-lasting construction, and simple breaker installation.</p>
                                    <a href="">> I-Line Standard Panelboard</a><br>
                                    <a href="">> I-Line Switchboard</a><br>
                                    <a href="">> I-Line Combo Panelboard</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Support Section -->
        <div class="row section section_3">
            <div class="col-xs-12 ">
                <div class="row nopadding">
                    <div class="col-xs-12 col-sm-6">
                        <h2 class="widget-title">Business Tools 
                            <i class="fa fa-times-circle" id="closeAccordion"></i>
                        </h2>
                        <div class="widget-container">
                            <div class="panel-group" id="accordion-widget">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Get New Business</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <div class="row">
                                          <div class="col-xs-12 col-md-4">
                                              <h3>Lorem ipsum dolor.</h3>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde reprehenderit maxime ipsum, blanditiis consectetur.</p>
                                              <p>Distinctio illo, repudiandae ut voluptatibus, fugiat eveniet nemo accusamus tempore consectetur vel sapiente saepe a?</p>
                                              <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                          </div>
                                          <div class="col-xs-12 col-md-4">
                                              <h3>Nisi blanditiis, inventore.</h3>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur recusandae, asperiores! Quam fugiat deleniti voluptatum!</p>
                                              <p>Veniam, autem ut vitae iure excepturi beatae fuga ad sed vel, explicabo qui quasi debitis.</p>
                                              <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                          </div>
                                          <div class="col-xs-12 col-md-4">
                                              <h3>Reiciendis, enim, nulla.</h3>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut accusamus dolorum perferendis laborum rem.</p>
                                              <p>Voluptatum, dolorem, aliquam. Iure enim minima libero totam, dolorum quae ullam temporibus autem rerum, recusandae!</p>
                                              <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Design & Quote</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="col-xs-12 col-md-4">
                                          <h3>Lorem ipsum dolor.</h3>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde reprehenderit maxime ipsum, blanditiis consectetur.</p>
                                          <p>Distinctio illo, repudiandae ut voluptatibus, fugiat eveniet nemo accusamus tempore consectetur vel sapiente saepe a?</p>
                                          <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                      </div>
                                      <div class="col-xs-12 col-md-4">
                                          <h3>Nisi blanditiis, inventore.</h3>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur recusandae, asperiores! Quam fugiat deleniti voluptatum!</p>
                                          <p>Veniam, autem ut vitae iure excepturi beatae fuga ad sed vel, explicabo qui quasi debitis.</p>
                                          <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                      </div>
                                      <div class="col-xs-12 col-md-4">
                                          <h3>Reiciendis, enim, nulla.</h3>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut accusamus dolorum perferendis laborum rem.</p>
                                          <p>Voluptatum, dolorem, aliquam. Iure enim minima libero totam, dolorum quae ullam temporibus autem rerum, recusandae!</p>
                                          <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Find Products</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="row">
                                  <div class="col-xs-12 col-md-4">
                                      <h3>Lorem ipsum dolor.</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde reprehenderit maxime ipsum, blanditiis consectetur.</p>
                                      <p>Distinctio illo, repudiandae ut voluptatibus, fugiat eveniet nemo accusamus tempore consectetur vel sapiente saepe a?</p>
                                      <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                      <h3>Nisi blanditiis, inventore.</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur recusandae, asperiores! Quam fugiat deleniti voluptatum!</p>
                                      <p>Veniam, autem ut vitae iure excepturi beatae fuga ad sed vel, explicabo qui quasi debitis.</p>
                                      <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                  </div>
                                  <div class="col-xs-12 col-md-4">
                                      <h3>Reiciendis, enim, nulla.</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut accusamus dolorum perferendis laborum rem.</p>
                                      <p>Voluptatum, dolorem, aliquam. Iure enim minima libero totam, dolorum quae ullam temporibus autem rerum, recusandae!</p>
                                      <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Install & Follow Up</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-xs-12 col-md-4">
                                  <h3>Lorem ipsum dolor.</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde reprehenderit maxime ipsum, blanditiis consectetur.</p>
                                  <p>Distinctio illo, repudiandae ut voluptatibus, fugiat eveniet nemo accusamus tempore consectetur vel sapiente saepe a?</p>
                                  <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                  <h3>Nisi blanditiis, inventore.</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur recusandae, asperiores! Quam fugiat deleniti voluptatum!</p>
                                  <p>Veniam, autem ut vitae iure excepturi beatae fuga ad sed vel, explicabo qui quasi debitis.</p>
                                  <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                  <h3>Reiciendis, enim, nulla.</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut accusamus dolorum perferendis laborum rem.</p>
                                  <p>Voluptatum, dolorem, aliquam. Iure enim minima libero totam, dolorum quae ullam temporibus autem rerum, recusandae!</p>
                                  <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        Technical Support</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-12 col-md-4">
                              <h3>Lorem ipsum dolor.</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde reprehenderit maxime ipsum, blanditiis consectetur.</p>
                              <p>Distinctio illo, repudiandae ut voluptatibus, fugiat eveniet nemo accusamus tempore consectetur vel sapiente saepe a?</p>
                              <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                          </div>
                          <div class="col-xs-12 col-md-4">
                              <h3>Nisi blanditiis, inventore.</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur recusandae, asperiores! Quam fugiat deleniti voluptatum!</p>
                              <p>Veniam, autem ut vitae iure excepturi beatae fuga ad sed vel, explicabo qui quasi debitis.</p>
                              <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                          </div>
                          <div class="col-xs-12 col-md-4">
                              <h3>Reiciendis, enim, nulla.</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut accusamus dolorum perferendis laborum rem.</p>
                              <p>Voluptatum, dolorem, aliquam. Iure enim minima libero totam, dolorum quae ullam temporibus autem rerum, recusandae!</p>
                              <a href=""><i class="fa fa-angle-right"></i> Click Here</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6" id="distributors">
    <h2 class="widget-title">Distributors</h2>
    <div class="widget-container">
        <img src="./resources/img/map-placeholder.png" alt="">
    </div>

</div>
</div>
</div>
</div>
<!-- End Tools/Distributors -->

<div class="row section section_4">
    <div class="">
        <h2 class="widget-title">My Resources</h2>
        <div class="row panels nopadding">
            <div class="flex-parent">
                <div class="col-xs-12 col-sm-6 col-md-3 panel-light-blue">
                    <div class="panel ">
                        <h4 class="panel-title">Quick Links</h4>
                        <ul class="styled-list small-list">
                            <li><a href=""><i class="fa fa-angle-right"></i> Technical Library</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Products</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Codes and Standards</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Videos</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Training</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Product FAQs</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Solutions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 panel-dark-green">
                    <div class="panel ">
                        <h4 class="panel-title">Opportunities </h4>
                        <a href="" class="cta">5 New Opportunities</a>
                        <a href="" class="cta small-cta cta-dark-green">Pending <span>5</span></a>
                        <a href="" class="cta small-cta cta-dark-green">Require Updates <span>7</span></a>
                        <a href="" class="cta small-cta cta-dark-green">ORF Updates <span>2</span></a>
                        <br><br>
                        <a href=""><i class="fa fa-angle-right"></i> Manage Opportunities</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 panel-dark-green">
                    <div class="panel ">
                        <h4 class="panel-title">Tasks</h4>
                        <div class="panel-calendar">
                            <div class="responsive-calendar">
                                <div class="controls cf">

                                    <h4><span data-head-month>August</span> <span data-head-year>2017</span></h4>
                                    <div class="leftRight">
                                        <a class="" data-go="prev"><i class="fa fa-angle-left"></i></a>
                                        <a class="" data-go="next"><i class="fa fa-angle-right"></i></a>
                                    </div>



                                </div><hr/>
                                <div class="day-headers">
                                  <div class="day header">Mo</div>
                                  <div class="day header">Tu</div>
                                  <div class="day header">We</div>
                                  <div class="day header">Th</div>
                                  <div class="day header">Fr</div>
                                  <div class="day header">Sa</div>
                                  <div class="day header">Su</div>
                              </div>
                              <div class="days" data-group="days">
                                    <div class="day">&nbsp;</div>
                                    <div class="day"><a href="">1</a></div>
                                    <div class="day"><a href="">2</a></div>
                                    <div class="day"><a href="">3</a></div>
                                    <div class="day"><a href="">4</a></div>
                                    <div class="day"><a href="">5</a></div>
                                    <div class="day"><a href="">6</a></div>
                                    <div class="day"><a href="">7</a></div>
                                    <div class="day"><a href="">8</a></div>
                                    <div class="day"><a href="">9</a></div>
                                    <div class="day"><a href="">10</a></div>
                                    <div class="day"><a href="">11</a></div>
                                    <div class="day"><a href="">12</a></div>
                                    <div class="day"><a href="">13</a></div>
                                    <div class="day"><a href="">14</a></div>
                                    <div class="day"><a href="">15</a></div>
                                    <div class="day"><a href="">16</a></div>
                                    <div class="day"><a href="">17</a></div>
                                    <div class="day"><a href="">18</a></div>
                                    <div class="day"><a href="">19</a></div>
                                    <div class="day"><a href="">20</a></div>
                                    <div class="day"><a href="">21</a></div>
                                    <div class="day"><a href="">22</a></div>
                                    <div class="day"><a href="">23</a></div>
                                    <div class="day"><a href="">24</a></div>
                                    <div class="day"><a href="">25</a></div>
                                    <div class="day"><a href="">26</a></div>
                                    <div class="day"><a href="">27</a></div>
                                    <div class="day"><a href="">28</a></div>
                                    <div class="day"><a href="">29</a></div>
                                    <div class="day"><a href="">30</a></div>
                                    <div class="day"><a href="">31</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 panel-dark-green">
                <div class="panel cf">
                    <h4 class="panel-title">Community</h4>
                    <h3>Networking</h3>
                    <img src="./resources/img/community.png" alt="" class="align-right" style="padding:5px;">
                    <p>Get to know others in your industry. Ask questions, network, or just discuss new techniques.</p>
                    <a href=""><i class="fa fa-angle-right"></i> Visit Community</a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<!-- End Resources -->

<div class="row section section_4">
    <div class="col-">
        <h2 class="widget-title">My Features</h2>
        
        <div class="row panels nopadding">
            <div class="flex-parent">
                <div class="col-xs-12 col-sm-6 col-md-3 panel-silver">
                    <div class="panel ">
                        <h4 class="panel-title">Speed Up Installation</h4>
                        <img class="align-right" src="./resources/img/speed-up.png" style="padding:10px;" alt="">
                        <h3>QO and Homeline Plug-on Neutral Load Centers</h3>
                        <p>Eliminate the pigtail connections, speed up installation and help eliminate mistakes.</p>
                        <a href=""><i class="fa fa-angle-right"></i> Learn more</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 panel-silver">
                    <div class="panel ">
                        <h4 class="panel-title">Quotation Tools</h4>
                        <h3>QO and Homeline Plug-on Neutral Load Centers</h3>
                        <img class="align-right" src="./resources/img/design-quote.png" style="padding:10px;" alt="">
                        <p>The Quotation Tools save you valuable time planning and quoting jobs. Get fast, accurate quotes to customers 24/7.</p>
                        <a href=""><i class="fa fa-angle-right"></i> Access Tools</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 panel-silver">
                    <div class="panel ">
                        <h4 class="panel-title">Partner Broadcast</h4>
                        <h3>Channel On</h3>
                        <img class="align-right" src="./resources/img/channel-on.png" style="padding:10px;" alt="">
                        <p>Join us on July 13th for the latest on new Square D products, services and tools for 2017.</p>
                        <a href=""><i class="fa fa-angle-right"></i> Register Now</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 panel-silver">
                    <div class="panel ">
                        <h4 class="panel-title">Online Catalog</h4>
                        <h3>DigestPLUS</h3>
                        <img class="align-right" src="./resources/img/digest.jpg" style="padding:10px;" alt="">
                        <p>Redesigned with updated technical product information, including catalogs, trip curves, CAD drawings, and more</p>
                        <a href=""><i class="fa fa-angle-right"></i> Browse Online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row section section_4">
    <div class="col-">
        <h2 class="widget-title">My Support & News</h2>
        <div class="panels nopadding">
            <div class="col-xs-12 col-md-6 panel-bright-green" id="communitiesSupport">
                <div class="panel cf">
                    <div class="col-xs-12">
                    <h4 class="panel-title">Communities & Support</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>Expert Access<br>
                        1-844-4PRO-1SE</h3>
                        <p>On-demand support from dedicated experts anywhere, any way that works for you</p>
                        <ul class="list-inline">
                            <li><a href=""><i class="fa fa-comment"></i><br>Chat</a></li>
                            <li><a href=""><i class="fa fa-envelope"></i><br>Mail</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <ul>
                            <li><i class="fa fa-angle-right"></i> Download the Customer Care App</li>
                            <li><i class="fa fa-angle-right"></i> Sales Office</li>
                            <li><i class="fa fa-angle-right"></i> Trade Associations</li>
                            <li><i class="fa fa-angle-right"></i> Schneider Electric Blog</li>
                            <li><i class="fa fa-angle-right"></i> Partner Portal Support</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-12 col-md-6 panel-solid-dark-green">
                <div class="panel cf">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <h4 class="panel-title">Square D SWBDs - Get ‘em Fast</h4>
                                <p>Your distributor stocks SquareD™ Switchboard main and Distribution sections, which can be delivered to your job site quickly. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.  Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                                <a href=""><i class="fa fa-angle-right"></i> Read More</a>
                            </li>
                            <li>
                                <h4 class="panel-title">Square D SWBDs - Get ‘em Fast</h4>
                                <p>Your distributor stocks SquareD™ Switchboard main and Distribution sections, which can be delivered to your job site quickly. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.  Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                                <a href=""><i class="fa fa-angle-right"></i> Read More</a>
                            </li>
                            <li>
                                <h4 class="panel-title">Square D SWBDs - Get ‘em Fast</h4>
                                <p>Your distributor stocks SquareD™ Switchboard main and Distribution sections, which can be delivered to your job site quickly. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.  Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
                                <a href=""><i class="fa fa-angle-right"></i> Read More</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Features -->

</div>
</div>
<!-- Render the sticky bar here -->
<div id="support-container">
    <input name="support-bar-toggle" id="support-bar-toggle" type="checkbox">
    <div id="support-bar" style="top: 562.359px; visibility: visible;">
        <label for="support-bar-toggle" style="display: inline-block;"><span>Support</span></label>
        <div id="support-bar-icons">
            <ul>
                <li>
                    <a>
                        <i class="fa fa-comments"></i>
                        Chat
                    </a>
                </li>
                <li>
                    <a >
                        <i class="fa fa-question-circle"></i>
                        Support
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Output From Footer Version 2 -->
<div id="footer-container-v1">
    <div class="footer-container">
        <div class="footer-pusher"></div>
        <footer class="wrapper cf">
            <ul class="list-inline site-links">
                <li><a href="">My Partnership</a></li>
                <li><a href="">My Programs</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Training</a></li>
                <li><a href="">News</a></li>
            </ul>
            <ul class="list-inline social-list">
                <li>
                    <a href="http://facebook.com/SchneiderElectric" title="Facebook" target="_blank" statmark="true" statname="Social-footer::">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
                <li>
                    <a href=" http://www.twitter.com/SchneiderNA" title="Twitter" target="_blank" statmark="true" statname="Social-footer::">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://linkedin.com/company/schneider-electric" title="LinkedIn" target="_blank" statmark="true" statname="Social-footer::">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="http://plus.google.com/+schneiderelectric" title="Google+" target="_blank" statmark="true" statname="Social-footer::">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="http://youtube.com/SchneiderElectric" title="YouTube" target="_blank" statmark="true" statname="Social-footer::">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </li>
                <li>
                    <a href="http://blog.schneider-electric.com" title="Blog" target="_blank" statmark="true" statname="Social-footer::">
                        <img style="    margin-top: -8px;" src="./resources/img/setv.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="//instagram.com/schneiderelectric" title="Instagram" target="_blank" statmark="true" statname="Social-footer::">
                        <img style="    margin-top: -8px;" src="./resources/img/blog.png" alt="">

                    </a>
                </li>
            </ul>
        </footer>
        <div class="footer-bottom-bar">
            <div class="wrapper">
                <a href="" class="footer-logo"><img src="./resources/img/se-lio-reverse.svg"  width="160" alt=""></a>
                <ul class="footer-about">
                    <li> <a href="/en/sitemap/index-branding2015.jsp" statmark="true" statname="Footer::#">Site Map </a></li>
                    <li> <a href="http://www.schneider-electric.us/sites/us/en/general/legal-information/legal-information.page" title="Privacy and Cookies Policy" statmark="true" statname="Footer::#">
                        Privacy and Cookies Policy </a>
                    </li>
                    <li> <a href="http://www.schneider-electric.us/sites/us/en/general/legal-information/legal-information.page" title="Legal" statmark="true" statname="Footer::#">
                        Legal </a>
                    </li>
                    <li> <a href="http://www.schneider-electric.us/sites/us/en/general/legal-information/legal-information.page" title="©2017, Schneider Electric" statmark="true" statname="Footer::#">
                        ©2017, Schneider Electric </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="./resources/js/production.js"></script>

</div>


