/*@import "reset";

@import "mobile-nav";

@import "fontstacks";
@import "animations";
@import "forms";
@import "fancybox";
@import "grid";
@import "hero";*/
/*@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";*/
/* line 11, ../sass/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 42, ../sass/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 49, ../sass/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 54, ../sass/bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 59, ../sass/bootstrap/_scaffolding.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 66, ../sass/bootstrap/_scaffolding.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 79, ../sass/bootstrap/_scaffolding.scss */
.img-circle {
  border-radius: 50%;
}

/* line 86, ../sass/bootstrap/_scaffolding.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 98, ../sass/bootstrap/_scaffolding.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 114, ../sass/bootstrap/_scaffolding.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 133, ../sass/bootstrap/_scaffolding.scss */
[role="button"] {
  cursor: pointer;
}

/* line 7, ../sass/bootstrap/_code.scss */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 15, ../sass/bootstrap/_code.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* line 24, ../sass/bootstrap/_code.scss */
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 32, ../sass/bootstrap/_code.scss */
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}

/* line 41, ../sass/bootstrap/_code.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 55, ../sass/bootstrap/_code.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* line 66, ../sass/bootstrap/_code.scss */
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* line 10, ../sass/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 30, ../sass/bootstrap/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../sass/bootstrap/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 11, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/*@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";*/
/*@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";*/
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/bootstrap/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/bootstrap/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/bootstrap/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../sass/bootstrap/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/bootstrap/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../sass/bootstrap/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../sass/bootstrap/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../sass/bootstrap/_utilities.scss */
.hidden {
  display: none !important;
}

/* line 53, ../sass/bootstrap/_utilities.scss */
.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-xs {
  display: none !important;
}

/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-sm {
  display: none !important;
}

/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-md {
  display: none !important;
}

/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-lg {
  display: none !important;
}

/* line 34, ../sass/bootstrap/_responsive-utilities.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-xs {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 12, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 52, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 57, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  /* line 62, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-sm {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 12, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 71, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 76, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 81, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-md {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-md {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 12, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 90, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 95, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 100, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-lg {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 12, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 109, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  /* line 114, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  /* line 119, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-print {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-print {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-print {
    display: table-row !important;
  }

  /* line 12, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* line 153, ../sass/bootstrap/_responsive-utilities.scss */
.visible-print-block {
  display: none !important;
}
@media print {
  /* line 153, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-print-block {
    display: block !important;
  }
}

/* line 160, ../sass/bootstrap/_responsive-utilities.scss */
.visible-print-inline {
  display: none !important;
}
@media print {
  /* line 160, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-print-inline {
    display: inline !important;
  }
}

/* line 167, ../sass/bootstrap/_responsive-utilities.scss */
.visible-print-inline-block {
  display: none !important;
}
@media print {
  /* line 167, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-print {
    display: none !important;
  }
}
/*@import "bootstrap/type";*/
/* line 50, ../sass/_bootstrap.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 56, ../sass/_bootstrap.scss */
.fade.in {
  opacity: 1;
}

/* line 59, ../sass/_bootstrap.scss */
.collapse {
  display: none;
}

/* line 62, ../sass/_bootstrap.scss */
.collapse.in {
  display: block;
}

/* line 65, ../sass/_bootstrap.scss */
tr.collapse.in {
  display: table-row;
}

/* line 68, ../sass/_bootstrap.scss */
tbody.collapse.in {
  display: table-row-group;
}

/* line 71, ../sass/_bootstrap.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 85, ../sass/_bootstrap.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 90, ../sass/_bootstrap.scss */
.clearfix:after {
  clear: both;
}

/* line 93, ../sass/_bootstrap.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 98, ../sass/_bootstrap.scss */
.pull-right {
  float: right !important;
}

/* line 101, ../sass/_bootstrap.scss */
.pull-left {
  float: left !important;
}

/* line 104, ../sass/_bootstrap.scss */
.hide {
  display: none !important;
}

/* line 107, ../sass/_bootstrap.scss */
.show {
  display: block !important;
}

/* line 110, ../sass/_bootstrap.scss */
.invisible {
  visibility: hidden;
}

/* line 113, ../sass/_bootstrap.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 120, ../sass/_bootstrap.scss */
.hidden {
  display: none !important;
}

/* line 123, ../sass/_bootstrap.scss */
.affix {
  position: fixed;
}

/* Colors */
/* line 53, ../sass/_variables.scss */
.fa-facebook-official {
  color: #365396;
}

/* line 57, ../sass/_variables.scss */
.fa-twitter {
  color: #00a8f0;
}

/* line 62, ../sass/_variables.scss */
.fa-linkedin {
  color: #006eb3;
}

/* line 66, ../sass/_variables.scss */
.fa-google-plus {
  color: #e0462e;
}

/* line 70, ../sass/_variables.scss */
.fa-youtube-play {
  color: #ff3333;
}

/* Fluid Grid
-----------------
*/
/* line 1, ../sass/_main.scss */
body {
  background: #f5f5f5;
}

@media (max-width: 991px) {
  /* line 7, ../sass/_main.scss */
  .main-content {
    padding: 0;
  }

  /* line 10, ../sass/_main.scss */
  .main .content-split .row.section {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
/* line 16, ../sass/_main.scss */
.main {
  background: transparent;
  max-width: 1040px;
  margin: auto;
  width: 100% !important;
}
/* line 21, ../sass/_main.scss */
.main .content-split {
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/_main.scss */
.main .content-split .row.section {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 32, ../sass/_main.scss */
.main .row.section {
  margin: 0 auto 5em;
  padding: 0;
  max-width: none;
  width: 100%;
}
/* line 39, ../sass/_main.scss */
.main .row.section .section-title h2 {
  font-size: 19px;
  color: #626469;
  text-shadow: none !important;
  padding: 5px 0 5px;
  display: inline-block !important;
}
/* line 48, ../sass/_main.scss */
.main > div {
  background: none;
}

/* line 54, ../sass/_main.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 60, ../sass/_main.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 68, ../sass/_main.scss */
.cf {
  *zoom: 1;
}

/* line 72, ../sass/_main.scss */
#page .slider-new ~ .main {
  margin-top: 0 !important;
}

/* line 80, ../sass/_main.scss */
.header-top ul li a i {
  font-size: 20px;
}

/* line 89, ../sass/_main.scss */
#distributors .widget-container {
  overflow: hidden;
  border: solid 1px #3DCD58;
}

/* line 98, ../sass/_main.scss */
#header-container-v1 .header-search {
  width: 18%;
}
/* line 100, ../sass/_main.scss */
#header-container-v1 .header-search input[type="submit"] {
  border: 0;
  background: none;
  display: none;
}
/* line 105, ../sass/_main.scss */
#header-container-v1 .header-search input[type="search"] {
  width: 78%;
  float: left;
  margin-right: 3%;
}
/* line 110, ../sass/_main.scss */
#header-container-v1 .header-search i {
  float: left;
  font-size: 20px;
}
/* line 116, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu {
  display: flex;
  width: 980px;
  align-items: center;
}
/* line 120, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .logo-contain {
  width: 18%;
}
/* line 123, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .logo-header {
  display: inline-block;
  position: relative;
}
/* line 126, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .logo-header img {
  width: 100% !important;
  height: auto !important;
}
/* line 131, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav {
  width: auto;
  max-width: none;
  margin-right: 20px;
  margin-left: 20px;
}
/* line 138, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav ul li {
  padding-left: 0;
  padding-right: 0;
  margin-right: 25px;
  display: inline;
  cursor: pointer;
}
/* line 143, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav ul li:last-child {
  margin-right: 0;
}
/* line 146, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav ul li:after {
  content: none !important;
}
/* line 152, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav ul li:hover a:after, #header-container-v1 #header-content-v1 .main-menu .nav ul li.active a:after {
  content: "";
  border-bottom: 4px solid white;
  height: 56px;
  position: absolute;
  width: 100%;
  left: 0;
}
/* line 162, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 100;
}
/* line 167, ../sass/_main.scss */
#header-container-v1 #header-content-v1 .main-menu .nav ul li a:after {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  content: "";
  border-bottom: 4px solid transparent;
  height: 53px;
  position: absolute;
  width: 100%;
  left: 0;
}
/* line 185, ../sass/_main.scss */
#header-container-v1 #header-top-v1 li {
  margin-right: 20px;
  vertical-align: middle;
}
/* line 189, ../sass/_main.scss */
#header-container-v1 #header-top-v1 a {
  margin-right: 2em;
  font-size: 12px;
}
/* line 191, ../sass/_main.scss */
#header-container-v1 #header-top-v1 a span {
  color: #42a9d6;
}
/* line 195, ../sass/_main.scss */
#header-container-v1 #header-top-v1 a i {
  color: #8e9799;
  font-size: 20px;
  margin-right: 5px;
}
/* line 200, ../sass/_main.scss */
#header-container-v1 #header-top-v1 a i.fa-caret-down {
  font-size: 15px;
}

/* line 207, ../sass/_main.scss */
.cta {
  color: #FFFFFF !important;
  background: #42B4E6 !important;
  padding: 10px 20px;
  border-radius: 3px !important;
}

/* line 214, ../sass/_main.scss */
.subMenu {
  background: transparent !important;
  font-size: 17px;
  margin-bottom: 30px;
}
/* line 219, ../sass/_main.scss */
.subMenu ul {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0 !important;
}
/* line 222, ../sass/_main.scss */
.subMenu ul li {
  padding: 15px 0px;
  background: none !important;
  border-radius: 0 !important;
  font-size: 15px;
  margin-right: 20px;
  color: #8e9799;
}
@media (min-width: 768px) {
  /* line 222, ../sass/_main.scss */
  .subMenu ul li {
    display: inline-block;
  }
}
/* line 232, ../sass/_main.scss */
.subMenu ul li.blueMenu {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 0 !important;
}
/* line 240, ../sass/_main.scss */
.subMenu ul li.active {
  padding: 15px 0px !important;
}
/* line 242, ../sass/_main.scss */
.subMenu ul li.active a {
  color: #3DCD58;
}
/* line 245, ../sass/_main.scss */
.subMenu ul li.active:after {
  height: 5px;
  display: block;
  background-color: #3DCD58;
  content: '';
  position: relative;
  bottom: -20px;
}

/* line 260, ../sass/_main.scss */
img.align-right {
  float: right;
}

/* line 266, ../sass/_main.scss */
.row.section_1.section {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 20px !important;
}

/* line 272, ../sass/_main.scss */
.flex-parent {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
/* line 278, ../sass/_main.scss */
.flex-parent.flex-center {
  align-items: center;
}

/* line 283, ../sass/_main.scss */
.content {
  background: white;
  padding: 2em;
}
/* line 286, ../sass/_main.scss */
.content ul {
  padding: 0 0 0 20px;
}
/* line 288, ../sass/_main.scss */
.content ul.row {
  margin: 0;
}
/* line 291, ../sass/_main.scss */
.content ul li {
  list-style: disc;
  list-style-position: outside;
}

/* line 300, ../sass/_main.scss */
#accordion-widget .panel-body div[class*="col"] {
  margin-bottom: 2em;
}
/* line 305, ../sass/_main.scss */
#accordion-widget .panel-collapse {
  padding: 2em 20px;
  background: white;
}
/* line 311, ../sass/_main.scss */
#accordion-widget .panel:nth-child(1) .panel-title {
  background: #42a9d6;
}
/* line 314, ../sass/_main.scss */
#accordion-widget .panel:nth-child(2) .panel-title {
  background: #3dcd58;
}
/* line 317, ../sass/_main.scss */
#accordion-widget .panel:nth-child(3) .panel-title {
  background: #1cae43;
}
/* line 320, ../sass/_main.scss */
#accordion-widget .panel:nth-child(4) .panel-title {
  background: #099f37;
}
/* line 323, ../sass/_main.scss */
#accordion-widget .panel:nth-child(5) .panel-title {
  background: #009530;
}
/* line 326, ../sass/_main.scss */
#accordion-widget .panel-title {
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-size: 18px;
  padding: 11px 20px;
}
/* line 329, ../sass/_main.scss */
#accordion-widget .panel-title a {
  color: white !important;
  width: 100%;
  display: inline-block;
  font-weight: 100;
}

/* line 343, ../sass/_main.scss */
.widget-title {
  color: #616469 !important;
  font-size: 26px !important;
}

/* line 350, ../sass/_main.scss */
.row.nopadding > div[class*="col"] {
  padding: 0;
}

/* line 355, ../sass/_main.scss */
#closeAccordion {
  float: right;
  font-size: 36px;
  color: #9fa0a4;
  right: 34px;
  position: relative;
  display: none;
}

/* line 364, ../sass/_main.scss */
.panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 369, ../sass/_main.scss */
.panels.nopadding {
  margin: 0;
}
/* line 373, ../sass/_main.scss */
.panels .panel {
  position: relative;
  padding: 2em 1em;
  flex: 1;
}
/* line 375, ../sass/_main.scss */
.panels .panel * {
  color: white;
}
/* line 380, ../sass/_main.scss */
.panels .panel .styled-list.small-list li {
  padding: 5px 0;
}
/* line 382, ../sass/_main.scss */
.panels .panel .styled-list.small-list li a {
  font-size: 12px;
}
/* line 387, ../sass/_main.scss */
.panels .panel .styled-list li {
  padding: 10px 0;
  margin-bottom: 0 0 10px;
  border-bottom: solid 1px white;
}
/* line 391, ../sass/_main.scss */
.panels .panel .styled-list li:last-child {
  border-bottom: 0;
}
/* line 394, ../sass/_main.scss */
.panels .panel .styled-list li a {
  width: 100%;
  font-size: 14px;
}
/* line 397, ../sass/_main.scss */
.panels .panel .styled-list li a span {
  float: right;
  font-weight: 600;
  font-size: 16px;
}
/* line 401, ../sass/_main.scss */
.panels .panel .styled-list li a span i {
  font-size: 22px;
}
/* line 410, ../sass/_main.scss */
.panels .panel .points {
  font-size: 16px;
  padding: .8em 0;
  margin: 0 0 10px;
}
/* line 415, ../sass/_main.scss */
.panels .panel .cta {
  text-align: center;
  width: 100%;
  border-radius: 0 !important;
  margin: 0 0 10px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 100;
  box-shadow: 0 !important;
}
/* line 416, ../sass/_main.scss */
.panels .panel .cta.cta-dark-green {
  background: #40a460 !important;
}
/* line 419, ../sass/_main.scss */
.panels .panel .cta.small-cta {
  font-size: 12px;
  margin: 0 0 5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 426, ../sass/_main.scss */
.panels .panel .cta.small-cta span {
  float: right;
}
/* line 439, ../sass/_main.scss */
.panels .panel .cta.cta-white {
  background: white !important;
}
/* line 443, ../sass/_main.scss */
.panels .panel-light-green {
  background: linear-gradient(to right, #008f2e, #007626);
}
/* line 445, ../sass/_main.scss */
.panels .panel-light-green .cta-white {
  color: #008f2e !important;
}
/* line 449, ../sass/_main.scss */
.panels .panel-light-blue {
  background: linear-gradient(to right, #42a9d6, #2d9fd1);
}
/* line 451, ../sass/_main.scss */
.panels .panel-light-blue .cta-white {
  color: #42a9d6 !important;
}
/* line 455, ../sass/_main.scss */
.panels .panel-dark-green {
  background: linear-gradient(to right, #00892c, #007024);
}
/* line 457, ../sass/_main.scss */
.panels .panel-dark-green .cta {
  color: white !important;
  background: #3DCD58 !important;
}
/* line 462, ../sass/_main.scss */
.panels .panel-dark-blue {
  background: linear-gradient(to right, #40a6d3, #2f9bcb);
}
/* line 464, ../sass/_main.scss */
.panels .panel-dark-blue .cta-white {
  color: #40a6d3 !important;
}
/* line 468, ../sass/_main.scss */
.panels .panel-bright-green {
  background: #3DCD58;
}
/* line 470, ../sass/_main.scss */
.panels .panel-bright-green .cta-white {
  color: #3DCD58 !important;
}
/* line 474, ../sass/_main.scss */
.panels .panel-solid-dark-green {
  background: #00892c;
}
/* line 476, ../sass/_main.scss */
.panels .panel-solid-dark-green .cta-white {
  color: #3DCD58 !important;
}
/* line 480, ../sass/_main.scss */
.panels .panel-silver {
  background: linear-gradient(to bottom, #ffffff, #e5e5e5);
}
@media (min-width: 992px) {
  /* line 480, ../sass/_main.scss */
  .panels .panel-silver {
    background: linear-gradient(to right, #ffffff, #e5e5e5);
  }
}
/* line 486, ../sass/_main.scss */
.panels .panel-silver .panel-title {
  color: #3DCD58;
}
/* line 489, ../sass/_main.scss */
.panels .panel-silver a, .panels .panel-silver h3 {
  color: #42a9d6;
}
/* line 492, ../sass/_main.scss */
.panels .panel-silver p, .panels .panel-silver li {
  color: #42494c;
}
/* line 495, ../sass/_main.scss */
.panels .panel-silver .cta-white {
  color: #3DCD58 !important;
}
/* line 501, ../sass/_main.scss */
.panels .panel .panel-title {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 25px;
}
/* line 506, ../sass/_main.scss */
.panels .panel .panel-title span {
  display: block;
  font-size: 13.5;
  font-weight: normal;
}
/* line 511, ../sass/_main.scss */
.panels .panel .panel-title a {
  float: right;
  font-size: 22px;
}

/* line 521, ../sass/_main.scss */
#communitiesSupport .list-inline li {
  text-align: center;
}
/* line 523, ../sass/_main.scss */
#communitiesSupport .list-inline li i {
  font-size: 40px;
  margin-bottom: 5px;
}

/* line 534, ../sass/_main.scss */
.task-list li ul li {
  margin-bottom: 1em;
}
/* line 540, ../sass/_main.scss */
.task-list h5, .task-list p {
  margin: 0;
}
/* line 543, ../sass/_main.scss */
.task-list p {
  line-height: 1;
  font-size: 11px;
}
/* line 547, ../sass/_main.scss */
.task-list h5 {
  font-weight: 600;
  font-size: 13px;
}
/* line 551, ../sass/_main.scss */
.task-list .date {
  font-size: 10px;
  color: #42494c;
}

/* line 558, ../sass/_main.scss */
.flex-control-paging {
  margin-top: 10px;
}

/* line 562, ../sass/_main.scss */
.flex-control-nav {
  margin-top: 10px;
}

/* line 568, ../sass/_main.scss */
#support-container i {
  color: #42a9d6;
  font-size: 36px;
  display: block;
  margin-bottom: 10px;
}

/* line 576, ../sass/_main.scss */
.site-links {
  width: 100%;
  text-align: center;
}
/* line 579, ../sass/_main.scss */
.site-links li {
  display: block !important;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  /* line 576, ../sass/_main.scss */
  .site-links {
    float: left;
    width: auto;
    text-align: left;
  }
  /* line 586, ../sass/_main.scss */
  .site-links li {
    display: inline !important;
    margin-bottom: 0;
  }
}
/* line 595, ../sass/_main.scss */
.site-links a {
  color: #42a9d6 !important;
}

/* line 600, ../sass/_main.scss */
.social-list {
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 600, ../sass/_main.scss */
  .social-list {
    float: right;
    width: auto;
    text-align: right;
  }
}
/* line 608, ../sass/_main.scss */
.social-list i {
  font-size: 22px;
}

/* line 614, ../sass/_main.scss */
#footer-container-v1 .footer-container .wrapper {
  padding: 20px 0;
}

/* line 618, ../sass/_main.scss */
.footer-about {
  float: right;
}

/* line 622, ../sass/_main.scss */
.footer-bottom-bar {
  padding: 10px 0;
}

/* line 626, ../sass/_main.scss */
.footer-logo {
  display: inline-block;
}

/* line 630, ../sass/_main.scss */
#footer-container-v1 .footer-container .footer-bottom-bar .wrapper .footer-about {
  display: inline-block;
  line-height: 10px;
  padding-left: 15px;
  vertical-align: middle;
  width: auto;
  float: right;
}

/* line 639, ../sass/_main.scss */
#footer-container-v1 .footer-container .footer-bottom-bar .wrapper .footer-about li:last-child {
  float: none;
}

@media (max-width: 979px) {
  /* line 647, ../sass/_main.scss */
  .nav-collapse.collapse.menubar.subMenu ul {
    margin: 0 !important;
  }

  /* line 650, ../sass/_main.scss */
  .subMenu ul li.active:after {
    height: 0 !important;
  }

  /* line 653, ../sass/_main.scss */
  .nav-collapse.menubar.subMenu ul li.active {
    border-left: 5px solid #009530 !important;
    border-bottom: none !important;
  }

  /* line 657, ../sass/_main.scss */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 665, ../sass/_main.scss */
  .nav-collapse.menubar.subMenu li {
    float: none;
    font-size: 10px !important;
    padding: 5px !important;
  }

  /* line 670, ../sass/_main.scss */
  .nav-collapse.menubar.subMenu ul li {
    width: 50% !important;
  }

  /* line 673, ../sass/_main.scss */
  .nav-collapse.menubar.subMenu ul li {
    width: 50% !important;
  }
}
@media (max-width: 767px) {
  /* line 681, ../sass/_main.scss */
  .subMenu ul {
    padding: 0 !important;
  }
}
/* line 1, ../sass/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #8e9799;
  cursor: default;
}

/* line 5, ../sass/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: white;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 17, ../sass/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}

/* line 23, ../sass/_flexslider.scss */
.flex-control-paging {
  margin: 10px auto 0;
  padding: 0;
  text-align: center;
}

/* line 3, ../sass/_typography.scss */
.main strong {
  font-weight: 700;
}
/* line 6, ../sass/_typography.scss */
.main .cta {
  margin: 10px 0;
  display: inline-block;
}
/* line 11, ../sass/_typography.scss */
.main h1, .main h2, .main h3, .main h4, .main h5 {
  line-height: 1.2;
}
/* line 15, ../sass/_typography.scss */
.main h1 {
  font-size: 18px;
  color: #00892c;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  /* line 15, ../sass/_typography.scss */
  .main h1 {
    font-size: 27px;
  }
}
/* line 26, ../sass/_typography.scss */
.main h3 {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #3DCD58;
}
/* line 33, ../sass/_typography.scss */
.main p, .main li {
  color: #616469;
  font-size: 12px;
}
/* line 38, ../sass/_typography.scss */
.main a {
  color: #42a9d6;
}
/* line 42, ../sass/_typography.scss */
.main sup {
  vertical-align: initial;
}

/* line 54, ../sass/_typography.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 60, ../sass/_typography.scss */
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
/* line 64, ../sass/_typography.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 72, ../sass/_typography.scss */
.text-right {
  text-align: right;
}

/* line 76, ../sass/_typography.scss */
.text-left {
  text-align: left;
}

/* line 80, ../sass/_typography.scss */
.text-center {
  text-align: center;
}

/* line 84, ../sass/_typography.scss */
.fa, #upcomingTrainings .training-list .training-item .training-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../sass/_calendar.scss */
.icon-chevron {
  display: block;
  width: 15px;
  height: 22px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAWCAMAAAAo0TYrAAAAElBMVEX///8AAAAAAAAAAAAAAAAAAABknMCaAAAABXRSTlMAEHCg0O5XV0MAAAAzSURBVHgBYwACJkYGZMDMysKIwmUFCyC4KAIsrKgCjPQQQPCpzUX4B9O/mOGBGV7o4QkA5zcCv3HiEZgAAAAASUVORK5CYII=);
}

/* line 8, ../sass/_calendar.scss */
.icon-chevron-rotate {
  transform: rotate(180deg);
}

/* line 13, ../sass/_calendar.scss */
.responsive-calendar-modal {
  background-color: #1d86c8;
  color: white;
  padding: 1em;
}

/* line 18, ../sass/_calendar.scss */
.responsive-calendar .controls {
  text-align: center;
}

/* line 21, ../sass/_calendar.scss */
.responsive-calendar .controls a {
  cursor: pointer;
  color: red;
}

/* line 25, ../sass/_calendar.scss */
.responsive-calendar .controls h4 {
  display: inline;
  font-size: 14px;
  float: left;
  text-transform: uppercase;
  line-height: 1.8;
  margin-bottom: 0;
}

/* line 33, ../sass/_calendar.scss */
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}

/* line 37, ../sass/_calendar.scss */
hr {
  border: 0;
  margin: 5px 0;
  background: white;
}

/* line 43, ../sass/_calendar.scss */
.leftRight {
  float: right;
}
/* line 44, ../sass/_calendar.scss */
.leftRight i {
  font-size: 24px;
}

/* line 49, ../sass/_calendar.scss */
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 12px;
  width: 14.285714285714286%;
  text-align: center;
}

/* line 56, ../sass/_calendar.scss */
.responsive-calendar .day a {
  color: white;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}

/* line 62, ../sass/_calendar.scss */
.responsive-calendar .day a:hover {
  background-color: #3dcd58;
  text-decoration: none;
}

/* line 67, ../sass/_calendar.scss */
.responsive-calendar .day.active a {
  background-color: #3dcd58;
  color: #ffffff;
}

/* line 71, ../sass/_calendar.scss */
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}

/* line 74, ../sass/_calendar.scss */
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}

/* line 78, ../sass/_calendar.scss */
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}

/* line 81, ../sass/_calendar.scss */
.responsive-calendar .day.not-current a {
  color: transparent;
}

/* line 84, ../sass/_calendar.scss */
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

/* line 4, ../sass/_navigation.scss */
#header-container-v1 #header-content-v1 .nav > ul > li > a {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
}

/* line 17, ../sass/_navigation.scss */
.section_1 .subMenu a {
  color: #8e9799;
}

/* line 1, ../sass/_prm-homepage.scss */
* {
  box-sizing: border-box !important;
}

/* line 5, ../sass/_prm-homepage.scss */
.sidebar .row.section {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3em;
  margin-left: 0;
}

/* line 14, ../sass/_prm-homepage.scss */
.module-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 22, ../sass/_prm-homepage.scss */
.training-list .meta {
  margin: 0;
}
/* line 24, ../sass/_prm-homepage.scss */
.training-list .meta p {
  margin-bottom: 2px;
  font-weight: 800;
}
/* line 30, ../sass/_prm-homepage.scss */
.training-list .row.flex-parent {
  border: solid 1px #c4c4c4;
  margin-top: -1px;
  margin-left: 0;
  margin-right: 0;
}
/* line 38, ../sass/_prm-homepage.scss */
.training-list .row.flex-parent p {
  font-size: 14px;
  margin: 0 0 10px;
}
/* line 42, ../sass/_prm-homepage.scss */
.training-list .row.flex-parent .cta {
  margin: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 49, ../sass/_prm-homepage.scss */
  .training-list .row.flex-parent * {
    text-align: center;
  }
}

/* line 59, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list {
  background: #00892c;
}
/* line 61, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list * {
  color: white;
}
/* line 64, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list p {
  font-size: 12px;
  margin-bottom: 0;
}
/* line 68, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list .cta {
  background: white !important;
  color: #3DCD58 !important;
  font-size: 12px;
}
/* line 74, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list .training-item .training-title {
  position: relative;
  padding-left: 10px;
}
/* line 77, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list .training-item .training-title:before {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\f105";
}
/* line 85, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list .training-item .row.flex-parent {
  border: 0;
  border-bottom: solid 1px white;
}
/* line 91, ../sass/_prm-homepage.scss */
#upcomingTrainings .training-list .training-item:last-child .row.flex-parent {
  border-bottom: 0;
}

/* line 102, ../sass/_prm-homepage.scss */
#quickLinks .module-content {
  background: #3DCD58;
}
/* line 104, ../sass/_prm-homepage.scss */
#quickLinks .module-content li {
  font-size: 13px;
  line-height: 2.2;
}
/* line 107, ../sass/_prm-homepage.scss */
#quickLinks .module-content li a {
  color: white;
}

/* line 117, ../sass/_prm-homepage.scss */
#browseTraining .has-sub .accordion-title {
  cursor: pointer;
}
/* line 119, ../sass/_prm-homepage.scss */
#browseTraining .has-sub .accordion-title:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 126, ../sass/_prm-homepage.scss */
#browseTraining .accordion-title {
  margin: 0;
  width: 100%;
  color: white;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 130, ../sass/_prm-homepage.scss */
.has-sub #browseTraining .accordion-title {
  cursor: pointer;
}
/* line 136, ../sass/_prm-homepage.scss */
#browseTraining .accordion-title.active span {
  transform: rotate(45deg);
}
/* line 142, ../sass/_prm-homepage.scss */
#browseTraining .accordion-title span {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  float: right;
}
/* line 148, ../sass/_prm-homepage.scss */
#browseTraining .accordion-title, #browseTraining .accordion-content {
  padding: 1em;
}
/* line 150, ../sass/_prm-homepage.scss */
#browseTraining .accordion-title *, #browseTraining .accordion-content * {
  color: white;
}
/* line 156, ../sass/_prm-homepage.scss */
#browseTraining li:nth-child(1) {
  background: #42a9d6;
}
/* line 158, ../sass/_prm-homepage.scss */
#browseTraining li:nth-child(2) {
  background: #3dcd58;
}
/* line 160, ../sass/_prm-homepage.scss */
#browseTraining li:nth-child(3) {
  background: #1cae43;
}
/* line 162, ../sass/_prm-homepage.scss */
#browseTraining li:nth-child(4) {
  background: #099f37;
}
/* line 164, ../sass/_prm-homepage.scss */
#browseTraining li:nth-child(5) {
  background: #009530;
}
/* line 166, ../sass/_prm-homepage.scss */
#browseTraining li li {
  background: transparent !important;
  line-height: 2;
}

/* line 173, ../sass/_prm-homepage.scss */
.accordion-content {
  display: none;
}

/* line 180, ../sass/_prm-homepage.scss */
#myTraining .section-title .text-right {
  line-height: 3.4;
}
/* line 185, ../sass/_prm-homepage.scss */
#myTraining .section-title h2:before {
  content: url("/resources/img/icon-training.png");
}

/* line 194, ../sass/_prm-homepage.scss */
#suggestedTraining .section-title h2:before {
  content: url("/resources/img/icon-star.png");
}

/* line 201, ../sass/_prm-homepage.scss */
#upcomingTrainings .section-title h2:before {
  content: url("/resources/img/icon-cap.png");
}

/* line 209, ../sass/_prm-homepage.scss */
#browseTraining .section-title h2:before {
  content: url("/resources/img/icon-search.png");
}

/* line 217, ../sass/_prm-homepage.scss */
#quickLinks .section-title h2:before {
  content: url("/resources/img/icon-links.png");
}

/* line 225, ../sass/_prm-homepage.scss */
#search .section-title h2:before {
  content: url("/resources/img/icon-search.png");
}

/* line 232, ../sass/_prm-homepage.scss */
.section-title {
  position: relative;
}
/* line 235, ../sass/_prm-homepage.scss */
.section-title h2:before {
  height: 28px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

/* line 245, ../sass/_prm-homepage.scss */
#search {
  margin: 3em 0;
}
/* line 247, ../sass/_prm-homepage.scss */
#search table {
  width: 100%;
  margin: 0;
}
/* line 250, ../sass/_prm-homepage.scss */
#search table td {
  padding: 0 10px 0 0;
}
/* line 253, ../sass/_prm-homepage.scss */
#search table td:last-child {
  padding: 0;
}
/* line 256, ../sass/_prm-homepage.scss */
#search table td:nth-child(2) {
  width: 60%;
}
/* line 259, ../sass/_prm-homepage.scss */
#search table td:nth-child(3) {
  width: 19%;
}
@media (max-width: 991px) {
  /* line 250, ../sass/_prm-homepage.scss */
  #search table td {
    display: block;
    padding-bottom: 1em;
  }
  /* line 267, ../sass/_prm-homepage.scss */
  #search table td:first-child {
    width: 100%;
  }
  /* line 270, ../sass/_prm-homepage.scss */
  #search table td:nth-child(2) {
    width: 70%;
    float: left;
  }
  /* line 274, ../sass/_prm-homepage.scss */
  #search table td:nth-child(3) {
    width: 29%;
    float: left;
  }
}
/* line 283, ../sass/_prm-homepage.scss */
#search ul li:nth-child(2) {
  width: 60%;
}
/* line 286, ../sass/_prm-homepage.scss */
#search ul li:nth-child(3) {
  width: 19%;
}
/* line 291, ../sass/_prm-homepage.scss */
#search .cta {
  text-align: center;
  width: 100%;
  margin: 0;
}
/* line 296, ../sass/_prm-homepage.scss */
#search h2 {
  margin: 0;
}
/* line 299, ../sass/_prm-homepage.scss */
#search .search-field {
  display: block;
  width: 100%;
  padding: .7em 2em .7em .7em;
  font-size: 1.2308em;
  font-family: inherit;
  line-height: 18px;
  background: #fff;
  border: 1px solid #e7e6e6;
  outline: 0;
}

/* line 456, ../sass/_mixins.scss */
::-webkit-input-placeholder {
  color: #3b1d1d !important;
}

/* line 457, ../sass/_mixins.scss */
:-moz-placeholder {
  color: #3b1d1d !important;
}

/* line 458, ../sass/_mixins.scss */
::-moz-placeholder {
  color: #3b1d1d !important;
}

/* line 459, ../sass/_mixins.scss */
:-ms-input-placeholder {
  color: #3b1d1d !important;
}
