
.icon-chevron {
  display:block;
  width:15px;
  height:22px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAWCAMAAAAo0TYrAAAAElBMVEX///8AAAAAAAAAAAAAAAAAAABknMCaAAAABXRSTlMAEHCg0O5XV0MAAAAzSURBVHgBYwACJkYGZMDMysKIwmUFCyC4KAIsrKgCjPQQQPCpzUX4B9O/mOGBGV7o4QkA5zcCv3HiEZgAAAAASUVORK5CYII=);
}
.icon-chevron-rotate {
  transform: rotate(180deg);
}

.responsive-calendar-placeholder {}
.responsive-calendar-modal {
  background-color: #1d86c8;
  color: white;
  padding: 1em;
}
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
  color: red;
}
.responsive-calendar .controls h4 {
  display: inline;
  font-size: 14px;
  float:left;
  text-transform: uppercase;
  line-height: 1.8;
  margin-bottom: 0;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
hr {
  border:0;
  margin:5px 0;
  background:white;
}

.leftRight {
  i {
    font-size: 24px;
  }
  float:right;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 12px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: white;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #3dcd58;
  text-decoration: none;
}

.responsive-calendar .day.active a {
  background-color: #3dcd58;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: transparent;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}