.flex-control-paging li a.flex-active {
    background: #8e9799;
    cursor: default;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: white;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}

.flex-control-paging  {
    margin:10px auto 0;
    padding: 0;
    text-align: center;
}