body {
  background: #f5f5f5;
}


@media (max-width:$md - 1){
  .main-content {
    padding:0;
  }
  .main .content-split .row.section {
    margin-left:0 !important;
    margin-right:0 !important;
  }
}

.main {
  background:transparent;
  max-width:1040px;
  margin:auto;
  width:100% !important;
  .content-split {
    margin: 0;
    padding: 0;
    .row.section {
      margin: {
        left:-15px;
        right:-15px;
      }
    }
  }

    .row.section {
      margin:0 auto 5em;
      padding:0;
      max-width:none;
      width:100%;
      
      .section-title {
        h2 {
          font-size: 19px;
          color: #626469;
          text-shadow: none !important;
          padding: 5px 0 5px;
          display: inline-block !important;
        }
      }
    }
  > div {
    background:none;
  
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#page .slider-new ~ .main {
  margin-top: 0 !important;
}

.header-top {
  ul {
    li {
      a {
        i {
          font-size: 20px;
        }
      }
    }
  }
}

#distributors {
  .widget-container {
    overflow:hidden;
  border:solid 1px $schneider-green;

  }
}

#header-container-v1  {

  .header-search {
    width:18%;
    input[type="submit"]{
      border:0;
      background:none;
      display: none;
    }
    input[type="search"]{
      width:78%;
      float:left;
      margin-right: 3%;
    }
    i {
      float:left;
      font-size: 20px;
    }
  }
  #header-content-v1 {
    .main-menu {
      display: flex;
      width:980px;
      align-items: center;
      .logo-contain {
            width:18%;
      }
      .logo-header {
            display: inline-block;
            position: relative;
            img {
              width:100% !important;
              height:auto !important;
            }
          }
      .nav {
        width:auto;
        max-width:none;
        margin-right: 20px;
        margin-left:20px;
        ul {

          li {
            padding-left:0;
            padding-right:0;
            margin-right:25px;
            display: inline;
            &:last-child {
              margin-right:0;
            }
            &:after {
              content:none !important;
            }
            cursor:pointer;
            &:hover,&.active {
              a {
                &:after {
                  content: "";
                  border-bottom: 4px solid white;
                  height: 56px;
                  position: absolute;
                  width: 100%;
                  left: 0;
                }
              }
            }
            a {
              color:white;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 100;
              &:after {
                @include transition(.3s all);
                  content: "";
                  border-bottom: 4px solid transparent;
                  height: 53px;
                  position: absolute;
                  width: 100%;
                  left: 0;
              }
            }
          }
        }
      }
    }

  }
  #header-top-v1 {

    li {
      margin-right: 20px;
      vertical-align:middle;
    }
    a {
      margin-right: 2em;
      span {
        color:$light-blue;
      }
      font-size: 12px;
      i {
        color:$ui-gray;
        font-size: 20px;
        margin-right: 5px;
      }
      i.fa-caret-down {
        font-size: 15px;
      }
    }
  }
}

.cta {
  color: #FFFFFF !important;
    background: #42B4E6 !important;
    padding: 10px 20px;
    border-radius: 3px !important;
}

.subMenu {
    background: transparent !important;
    font-size: 17px;
    margin-bottom: 30px;

    ul {
      border-bottom: 1px solid #ddd;
      padding-bottom: 0 !important;
      li {
        padding: 15px 0px;
        background: none !important;
        border-radius: 0 !important;
        font-size: 15px;
        margin-right: 20px;
        color:$ui-gray;
        @include viewport(sm){
          display: inline-block;
        }
        &.blueMenu {
          position: absolute;
          top: -4px;
          right: 0;
          padding:0 !important;
        }
        a {
        }
        &.active {
          padding: 15px 0px !important;
          a {
            color: $schneider-green;
          }
          &:after {
            height: 5px;
            display: block;
            background-color: $schneider-green;
            content: '';
            position: relative;
            bottom: -20px;
          }

        }
      }
    }
}

img {
  &.align-right {
    float:right;
  }
}


.row.section_1.section{
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom:20px !important;
}

.flex-parent {
  flex-direction:row;
  display: flex;
  flex-wrap:wrap;
  align-items: stretch;
  width:100%;
  &.flex-center {
    align-items:center;
  }
}

.content {
  background:white;
  padding:2em;
  ul {
    padding:0 0 0 20px;
    &.row {
      margin:0;
    }
    li {
      list-style: disc;
      list-style-position: outside;
    }
  }
}

#accordion-widget {
      .panel-body {
      div[class*="col"]{
        margin-bottom: 2em;
      }
    }
   
  .panel-collapse {
    padding:2em 20px;
    background:white;
  }
  .panel {
    &:nth-child(1){
      .panel-title{ background:$light-blue; }
    }
    &:nth-child(2){
      .panel-title{ background:#3dcd58; }
    }
    &:nth-child(3){
      .panel-title{ background:#1cae43; }
    }
    &:nth-child(4){
      .panel-title{ background:#099f37; }
    }
    &:nth-child(5){
      .panel-title{ background:#009530; }
    }
  }
  .panel-title {
    cursor:pointer;
    margin:0;
    a {
    color:white !important;
    width:100%;
    display: inline-block;
    font-weight: 100;

    }
    width:100%;
    font-size: 18px;
    padding:11px 20px;
    
  }
}

.widget-title {
  color:$primary !important;
  font-size: 26px !important;
}


.row.nopadding {
  > div[class*="col"]{
    padding:0;
  }
}

#closeAccordion {
  float:right;
  font-size: 36px;
  color:#9fa0a4;
  right:34px;
  position: relative;
  display: none;
}

.panels{

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    &.nopadding {
      margin: 0;
    }
  
  .panel {
    position: relative;
     * {
      color:white;
    }
    .styled-list {
      &.small-list {
        li {
          padding:5px 0;
          a {
            font-size: 12px;
          }
        }
      }
      li {
        padding:10px 0;
        margin-bottom: 0 0 10px;
        border-bottom: solid 1px white;
        &:last-child {
          border-bottom: 0;
        }
        a {
          width:100%;
          font-size: 14px;
          span {
            float:right;
            font-weight: 600;
            font-size: 16px;
            i {
              font-size: 22px;
            }
          }
        }
      }
    }
    padding:2em 1em;
    flex:1;
    .points {
      font-size: 16px;
      padding: .8em 0;
      margin:0 0 10px;
    }
    .cta {
      &.cta-dark-green {
        background: #40a460 !important;
      }
      &.small-cta {

        font-size: 12px;
        margin:0 0 5px;
        text-align: left;
        padding-left:10px;
        padding-right: 10px;
        span {
          float:right;
        }
      }
      text-align: center;
      width:100%;
      border-radius:0 !important;
      margin:0 0 10px;
      padding-left:0;
      padding-right:0;
      font-size: 16px;
      font-weight: 100;
      box-shadow:0 !important;
      &.cta-white {
        background: white !important;
      }
    }
    &-light-green {
      background: $light-green-gradient;
      .cta-white {
        color:$light-green !important;
      }
    }
    &-light-blue {
      background: $light-blue-gradient;
      .cta-white {
        color:$light-blue !important;
      }
    }
    &-dark-green {
      background: $dark-green-gradient;
      .cta {
        color:white !important;
        background: $schneider-green !important;
      }
    }
    &-dark-blue {
      background: $dark-blue-gradient;
      .cta-white {
        color:$dark-blue !important;
      }
    }
    &-bright-green {
      background: $schneider-green ;
      .cta-white {
        color:$schneider-green !important;
      }
    }
    &-solid-dark-green {
      background: $dark-green ;
      .cta-white {
        color:$schneider-green !important;
      }
    }
    &-silver {
      background: $schneider-silver-gradient-vertical;
      @include viewport(md){
      background: $schneider-silver-gradient;
        
      }
      .panel-title {
        color: $schneider-green;
      }
      a,h3{
        color:$light-blue;
      }
      p,li {
        color:#42494c;
      }
      .cta-white {
        color:$schneider-green !important;
      }
    }


    .panel-title {
      font-size: 16px;
      font-weight: 600;
      width:100%;
      margin-bottom: 25px;
      span {
        display: block;
        font-size: 13.5;
        font-weight: normal;
      }
      a {
        float:right;
        font-size: 22px;
      }
    }
  }
}

#communitiesSupport {
  .list-inline {
    li {
      text-align: center;
      i {
        font-size: 40px;
        margin-bottom: 5px;
      }
    }
  }
}

.task-list {
  li {
    ul {
      li {
        margin-bottom: 1em;
      }
    }
  }
 
  h5,p {
    margin: 0;
  }
  p {
    line-height: 1;
    font-size: 11px;
  }
  h5 {
    font-weight: 600;
    font-size: 13px;
  }
  .date {
    font-size: 10px;
    color:#42494c;
  }
}


 .flex-control-paging {
    margin-top: 10px;
  }

  .flex-control-nav {
    margin-top: 10px;
  }


#support-container {
  i {
    color:$light-blue ;
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
  }
}

.site-links {
  width:100%;
  text-align: center;
  li {
    display: block !important;
    margin-bottom: 1em;
  }
  @include viewport(sm){
  float:left;
  width:auto;
  li {

  display: inline !important;
  margin-bottom: 0;
  }
  text-align: left;


  }
  a {
    color:$light-blue !important;
  }
}

.social-list {
  text-align: center;
  width:100%;
  @include viewport(sm){
    float:right;
    width:auto;
    text-align: right;
  }
  i {
    font-size: 22px;
  }
}


#footer-container-v1 .footer-container .wrapper {
  padding:20px 0;
}

.footer-about {
  float:right;
}

.footer-bottom-bar {
  padding:10px 0;
}

.footer-logo {
  display: inline-block;
}

#footer-container-v1 .footer-container .footer-bottom-bar .wrapper .footer-about {
    display: inline-block;
    line-height: 10px;
    padding-left: 15px;
    vertical-align: middle;
    width:auto;
    float:right;
}

#footer-container-v1 .footer-container .footer-bottom-bar .wrapper .footer-about li:last-child {
  float:none;
}



@media (max-width: 979px){

  .nav-collapse.collapse.menubar.subMenu ul {
    margin: 0 !important;
}
  .subMenu ul li.active:after {
    height: 0 !important;
}
  .nav-collapse.menubar.subMenu ul li.active {
    border-left: 5px solid #009530 !important;
    border-bottom: none !important;
}
  .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
      padding: 9px 15px;
      font-weight: bold;
      color: #777777;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }
  .nav-collapse.menubar.subMenu li {
    float: none;
    font-size: 10px !important;
    padding: 5px !important;
  }
  .nav-collapse.menubar.subMenu ul li {
    width: 50% !important;
}
  .nav-collapse.menubar.subMenu ul li {
    width: 50% !important;
}

}


@media (max-width: 767px) {
  .subMenu ul {
      padding: 0 !important;
  }

}