


#header-container-v1 #header-content-v1 .nav>ul>li>a {
	    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
}



.section_1{
	.subMenu {
	a {
		color:$ui-gray;
	}
}
}