	* {
		box-sizing:border-box !important;
	}

	.sidebar .row.section {
	    margin: {
			top:0;
			right:0;
			bottom:3em;
			left:0;
	    }
	}

	.module-content {
		padding: {
				top:1em;
				bottom:1em;
			}
	}

	.training-list {
		.meta {
			margin: 0;
			p {
				margin-bottom: 2px;
				font-weight: 800;
			}
		}

		.row.flex-parent {
			border:solid 1px $border-color;
			margin-top: -1px;
			margin: {
				left:0;
				right:0;
			}
			
			p {
				font-size: 14px;
				margin: 0 0 10px;
			}
			.cta {
					margin: 0;
					font-size: 12px;
					width:100%;
					text-align: center;
				}
			@media (max-width:767px){
				* {
					text-align: center
				}
			}

		}
	}


	#upcomingTrainings {
		.training-list {
			background: $dark-green;
			* {
				color:white;
			}
			p {
				font-size: 12px;
				margin-bottom: 0;
			}
			.cta {
				background:white !important;
				color:$schneider-green !important;
				font-size: 12px;
			}
			.training-item {
				.training-title {
					position: relative;
					padding-left:10px;
					&:before {
						position: absolute;
						left:0;
						top:2px;
						@extend .fa;
						content: "\f105";
					}
				}
				.row.flex-parent {
					border:0;
					border-bottom:solid 1px white;

				}
				&:last-child {
						.row.flex-parent {
							border-bottom:0;
							
						}
					}
			}
			
		}
	}

	#quickLinks {
		.module-content {
			background: $schneider-green;
			li {
				font-size: 13px;
				line-height: 2.2;
				a {
					color:white;
				}
			}
		}
	}


	#browseTraining {
		.has-sub {
			.accordion-title {
				cursor:pointer;
				&:hover {
					background:rgba(black,.1);

				}
			}
		}

		.accordion-title {
			margin: 0;
			width:100%;
			color:white;
			.has-sub & {
			cursor:pointer;

			}

			&.active {
				span {
					transform:rotate(45deg);
				}
			}
			@include transition(.3s all);

			span {
				@include transition(.3s all);
				float: right;
			
			}
		}
		.accordion-title,.accordion-content {
			padding:1em;
			* {
				color:white;
			}
		}
		 li {
		 	
			 &:nth-child(1){background:$light-blue; 
		    }
		    &:nth-child(2){background:#3dcd58; 
		    }
		    &:nth-child(3){background:#1cae43; 
		    }
		    &:nth-child(4){background:#099f37; 
		    }
		    &:nth-child(5){background:#009530; 
		    }
		    li {
		 		background: transparent !important;
		 		line-height: 2;
		 	}
		}
	}

	.accordion-content {
		display: none;
	}



		#myTraining .section-title {
			.text-right {
				line-height: 3.4;
			}
			h2 {
		
				&:before{
					content:url('/resources/img/icon-training.png');
					
				}
			}
		}

		#suggestedTraining .section-title h2 {
		
			&:before{
				content:url('/resources/img/icon-star.png');
				
			}
		}
		#upcomingTrainings .section-title h2 {
		
			&:before{
				content:url('/resources/img/icon-cap.png');
				
			}
		}

		#browseTraining .section-title h2 {
		
			&:before{
				content:url('/resources/img/icon-search.png');
				
			}
		}

		#quickLinks .section-title h2 {
		
			&:before{
				content:url('/resources/img/icon-links.png');
				
			}
		}

		#search .section-title h2 {
		
			&:before{
				content:url('/resources/img/icon-search.png');
				
			}
		}


		.section-title {
			position: relative;
			h2 {
				&:before {
					height:28px;
					margin-right:10px;
					position: relative;
					top:5px;
				}
			}
		}


#search {
	margin: 3em 0;
	table {
		width:100%;
		margin: 0;
		td {

			padding: 0 10px 0 0;
			&:last-child {
				padding:0;
			}
			&:nth-child(2){
				width:60%;
			}
			&:nth-child(3){
				width:19%;
			}
			@media (max-width:$md - 1){
				display: block;
				padding: {
					bottom:1em;
				}
				&:first-child {
					width:100%;
				}
				&:nth-child(2){
				width:70%;
				float:left;
				}
				&:nth-child(3){
					width:29%;
					float:left;
				}
			}
		}
	}
	ul {
		li {
			&:nth-child(2){
				width:60%;
			}
			&:nth-child(3){
				width:19%;
			}
		}
	}
	.cta {
		text-align: center;
		width:100%;
		margin: 0;
	}
	h2 {
		margin: 0;
	}
	.search-field {
	    display: block;
	    width: 100%;
	    padding: .7em 2em .7em .7em;
	    font-size: 1.2308em;
	    font-family: inherit;
	    line-height: 18px;
	    background: #fff;
	    border: 1px solid #e7e6e6;
	    outline: 0;
	}
}

@include placeholder{color:#3b1d1d !important}
