
.main {
  strong {
    font-weight: 700;
  }
  .cta {
    margin:10px 0;
    display: inline-block;
  }

  h1,h2,h3,h4,h5 {
    line-height: 1.2;
  }

  h1 {
    font-size: 18px;
    color:$dark-green;
    font-weight: 600;
    line-height: 1.2;
    @include viewport(sm){
      font-size: 27px;
    }
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px !important;
    font-weight: 600 !important;
    color:$schneider-green;
  }


  p,li {
    color:$primary;
    font-size: 12px;
  }

  a {
    color:$light-blue;
  }

  sup {
    vertical-align:initial;
  }
}


// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}


// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align:center;
}

.fa {
   display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

