/* Colors */
$light: #fafafa;
$light-blue:#42b4e6;
$ui-gray:#8e9799;
$schneider-green:#3DCD58;
$dark-blue:#40a6d3;
$light-blue:#42a9d6;
$dark-green:#00892c;
$light-green:#008f2e;
$primary:#616469;
$border-color:#c4c4c4;

$light-blue-gradient:linear-gradient(to right, $light-blue , darken($light-blue,5));

$dark-blue-gradient:linear-gradient(to right, $dark-blue , darken($dark-blue,5));

$dark-green-gradient:linear-gradient(to right, $dark-green , darken($dark-green,5));

$light-green-gradient:linear-gradient(to right, $light-green , darken($light-green,5));

$schneider-green-gradient:linear-gradient(to right, $schneider-green , darken($schneider-green,5));

$schneider-silver-gradient:linear-gradient(to right, #ffffff , #e5e5e5);

$schneider-silver-gradient-vertical:linear-gradient(to bottom, #ffffff , #e5e5e5);




$facebook_color           : hsla(222, 47%, 40%, 1);     // #365397
$twitter_color            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin_color           : hsla(203, 100%, 35%, 1);    // #006db3
$apple_color              : hsla(0, 0%, 45%, 1);        // #737373
$google_color             : hsla(217, 89%, 61%, 1);     // #4285f4
$google_plus_color        : hsla(8, 74%, 53%, 1);       // #e0452c
$youtube_color            : hsla(0, 100%, 60%, 1);      // #ff3333
$vimeo_color              : hsla(200, 82%, 61%, 1);     // #48b6ed
$pinterest_color          : hsla(0, 78%, 45%, 1);       // #ce1a19
$yelp_color               : hsla(5, 100%, 38%, 1);      // #c30f00
$dribbble_color           : hsla(338, 82%, 60%, 1);     // #ed4584
$amazon_color             : hsla(36, 100%, 50%, 1);     // #ff9700
$ebay_color               : hsla(219, 89%, 30%, 1);     // #083790
$skype_color              : hsla(198, 100%, 48%, 1);    // #00acf4
$instagram_color          : hsla(208, 46%, 41%, 1);     // #396d9a
$dropbox_color            : hsla(206, 89%, 46%, 1);     // #0d84de
$flickr_color             : hsla(334, 100%, 46%, 1);    // #ea0066
$github_color             : hsla(0, 0%, 18%, 1);        // #2f2f2f
$basecamp_color           : hsla(121, 38%, 58%, 1);     // #6bbd6d
$tumblr_color             : hsla(210, 37%, 30%, 1);     // #304c68
$foursquare_color         : hsla(206, 72%, 45%, 1);     // #207dc5
$box_color                : hsla(204, 83%, 40%, 1);     // #1277bc

.fa-facebook-official {
    color:$facebook_color
}

.fa-twitter {
    color:$twitter-color
}


.fa-linkedin {
    color:$linkedin-color
}

.fa-google-plus {
    color:$google_plus_color
}

.fa-youtube-play {
    color:$youtube_color
}




